.sloganPreviewContainer {
  position: relative;
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  box-sizing: border-box;
}

.imageColumn {
  position: relative;
  width: 55%;
  height: 500px;
  overflow: hidden;
  margin-left: -5%;
  box-sizing: border-box;
}

.sloganImage {
  object-fit: fill;
  object-position: center;
}

.textColumn {
  position: relative;
  width: 50%;
  padding: 0 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.textColumn.animate {
  opacity: 1;
}

.sloganWrapper {
  position: relative;
  width: 100%;
}

.sloganText {
  position: relative;
  z-index: 2;
  font-size: 2.1rem;
  font-weight: 500;
  color: #055b67;
  margin: 0;
  padding: 1rem 0;
}

.lemonShape {
  position: absolute;
  background-color: #eef8f9;
  width: 250px;
  height: 150px;
  border-radius: 50%;
  top: -20px;
  right: -20px;
  transform: rotate(-45deg);
  z-index: 1;
}

@media (max-width: 1400px) {
  .imageColumn {
    width: 60%;
    height: 400px;
  }
}

@media (max-width: 1000px) {
  .sloganPreviewContainer {
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
  }

  .imageColumn {
    order: 2;
    width: 100%;
    margin-left: 0;
    height: 500px;
  }

  .sloganImage {
    object-fit: fill;
    object-position: center top;
  }

  .textColumn {
    order: 1;
    width: 90%;
    padding: 0;
    align-items: center;
    text-align: center;
  }

  .sloganText {
    padding: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .lemonShape {
    display: none;
  }
}

@media (max-width: 800px) {
  .imageColumn {
    height: 350px;
  }
}

@media (max-width: 600px) {
  .sloganPreviewContainer {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .imageColumn {
    order: 2;
    width: 100%;
    margin-left: 0;
    height: 300px;
  }

  .sloganImage {
    object-fit: fill;
    object-position: center top;
  }

  .textColumn {
    order: 1;
    width: 90%;
    padding: 0;
    align-items: center;
    text-align: center;
  }

  .sloganText {
    padding: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .lemonShape {
    display: none;
  }
}

@media (max-width: 450px) {
  .imageColumn {
    height: 280px;
  }
}
